/* **************************** */
/* ***** Default Scrollbar **** */
/* **************************** */
/* Wrapper */
/* Wrapper - Hover */
/* Slider */
/* Slider - Hover */
/* Thumb */
/* Thumb - Hover */
/* Button - Increase */
/* Button Decrease */
/* ************************** */
/* ***** Pane Scrollbar ***** */
/* ************************** */
/* Wrapper */
/* Wrapper - Hover */
/* Slider */
/* Slider - Hover */
/* Thumb */
/* Thumb - Hover */
/* Button - Increase */
/* Button Decrease */
/* Scrollbar Helper */
/* Scrollbar definitions */
scrollbar:not([for="scintilla"])[orient="horizontal"] {
  
}
scrollbar:not([for="scintilla"])[orient="horizontal"] slider {
  
}
scrollbar:not([for="scintilla"])[orient="horizontal"] thumb {
  
}
scrollbar:not([for="scintilla"])[orient="horizontal"] thumb:hover {
  
}
scrollbar:not([for="scintilla"])[orient="horizontal"]:hover {
  
}
scrollbar:not([for="scintilla"])[orient="horizontal"]:hover slider {
  
}
scrollbar:not([for="scintilla"])[orient="horizontal"] thumb {
  min-width: 25px;
}
scrollbar:not([for="scintilla"])[orient="vertical"] {
  
}
scrollbar:not([for="scintilla"])[orient="vertical"] slider {
  
}
scrollbar:not([for="scintilla"])[orient="vertical"] thumb {
  
}
scrollbar:not([for="scintilla"])[orient="vertical"] thumb:hover {
  
}
scrollbar:not([for="scintilla"])[orient="vertical"]:hover {
  
}
scrollbar:not([for="scintilla"])[orient="vertical"]:hover slider {
  
}
scrollbar:not([for="scintilla"])[orient="vertical"] thumb {
  min-width: 0;
  min-height: 25px;
}
scrollbar:not([for="scintilla"]) scrollbarbutton[type="increment"] {
  
}
scrollbar:not([for="scintilla"]) scrollbarbutton[type="decrement"] {
  
}
page scrollbar:not([for="scintilla"]) {
  opacity: 0.3;
}
page scrollbar:not([for="scintilla"])[orient="horizontal"] {
  -moz-appearance: none !important;
  background: transparent;
  margin: 0 0 2px;
  height: 10px;
  width: auto;
}
page scrollbar:not([for="scintilla"])[orient="horizontal"] slider {
  -moz-appearance: none !important;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  margin: 0;
  height: 10px;
  width: auto;
}
page scrollbar:not([for="scintilla"])[orient="horizontal"] thumb {
  -moz-appearance: none !important;
  background: rgba(150, 150, 150, 0.8);
  border-radius: 0;
  border: 0;
}
page scrollbar:not([for="scintilla"])[orient="horizontal"] thumb:hover {
  -moz-appearance: none !important;
  background: #969696;
  border-radius: 0;
}
page scrollbar:not([for="scintilla"])[orient="horizontal"]:hover {
  -moz-appearance: none !important;
  background: transparent;
}
page scrollbar:not([for="scintilla"])[orient="horizontal"]:hover slider {
  -moz-appearance: none !important;
  background: ThreeDHighlight;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  margin: 0;
  height: 10px;
  width: auto;
}
page scrollbar:not([for="scintilla"])[orient="horizontal"] thumb {
  min-width: 25px;
}
page scrollbar:not([for="scintilla"])[orient="vertical"] {
  -moz-appearance: none !important;
  background: transparent;
  margin: 0 2px 0 0;
  height: auto;
  width: 10px;
}
page scrollbar:not([for="scintilla"])[orient="vertical"] slider {
  -moz-appearance: none !important;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  margin: 0;
  height: auto;
  width: 10px;
}
page scrollbar:not([for="scintilla"])[orient="vertical"] thumb {
  -moz-appearance: none !important;
  background: rgba(150, 150, 150, 0.8);
  border-radius: 0;
  border: 0;
}
page scrollbar:not([for="scintilla"])[orient="vertical"] thumb:hover {
  -moz-appearance: none !important;
  background: #969696;
  border-radius: 0;
}
page scrollbar:not([for="scintilla"])[orient="vertical"]:hover {
  -moz-appearance: none !important;
  background: transparent;
}
page scrollbar:not([for="scintilla"])[orient="vertical"]:hover slider {
  -moz-appearance: none !important;
  background: ThreeDHighlight;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  margin: 0;
  height: auto;
  width: 10px;
}
page scrollbar:not([for="scintilla"])[orient="vertical"] thumb {
  min-width: 0;
  min-height: 25px;
}
page scrollbar:not([for="scintilla"]) scrollbarbutton[type="increment"] {
  visibility: collapse;
}
page scrollbar:not([for="scintilla"]) scrollbarbutton[type="decrement"] {
  visibility: collapse;
}
page scrollbar:not([for="scintilla"])[orient="vertical"] {
  position: relative;
  z-index: 999;
  margin-left: -10px;
}
page:hover scrollbar:not([for="scintilla"]) {
  opacity: 1.0;
}
/* Mainly intended for commando result richlistbox, where we need to force
   scrollbar visibility manually because XUL flex and scrolling do not go well
   together */
richlistbox#commando-results:not(.scrollable) scrollbar {
  visibility: collapse;
}
