/* Action Icons */
/* Folder Icons */
/* SCC File Symbols */
/* Subpanel icons (Places projects subpanel) */
/* Scrolltabs */
/* File/Folder actions */
/* Buffer Actions */
/* Editing Icons */
/* Global Symbols */
/* Menu Specific Icons */
/* Browser Icons */
/* Miscellaneous */
/* OSX Only */
/* Toolbars - Standard */
/* Toolbars - Tools */
/* Toolbars - Workspace */
/* Toolbars - SCC */
/* Toolbars - Debug */
/* Toolbars - Macro's */
/* Toolbars - Komodo Resources */
/* Addon Icons */
/* SCC Icons */
/* Debug Icons */
/* Unit Test Icons */
/* Macro Icons */
/* Breakpoint Icons */
/* Sync Icons */
/* Widget Icons */
/* Notification Widget */
/* Code Browser Widget */
/* DOM Browser Widget */
/* Database Widget */
/* Collaboration Widget */
/* Collaboration Widget */
/* Syntax checking widget */
/* Find Results Widget */
/* Breadcrumbs */
/* Pref Icons */
/**
 * Syntax checking statusbar images
 */
/* Hud Icons */
/* Workspace Icons */
/* Folder Icons */
#prefWindow treecols {
  height: 0px;
  overflow: hidden;
}
#prefWindow treechildren::-moz-tree-row {
  height: 26px;
}
#prefWindow treechildren::-moz-tree-cell-text {
  font-weight: bold;
  padding-left: 28px;
}
#prefWindow treechildren::-moz-tree-cell-text(child-row) {
  padding-left: 8px;
  font-weight: normal;
}
#prefWindow treechildren::-moz-tree-twisty(child-row) {
  margin-left: 5px !important;
}
#prefWindow treechildren::-moz-tree-cell {
  background-size: 16px 16px;
  background-position: 20px center;
  background-repeat: no-repeat;
}
#prefWindow treechildren::-moz-tree-cell(uiSettingsItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/eye.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(codeIntelItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/info.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(fontsItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/palette.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(debuggerItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/play4.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(editorItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/code.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(environItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/cog2.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(associationsItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/files.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(findItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/binoculars.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(ishellItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/console.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(internationalItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/radio.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(editKeys) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/keyboard2.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(helpItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/question4.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(languagesItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/globe2.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(mappedURIsItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/link4.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(newFilesItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/file-plus.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(editSaveItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/ko_save.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(printItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/print2.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(serversItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/database.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(sharedSupportItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/cabinet.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(sourceCodeControlItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_add.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(syntaxCheckingItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/checkmark-circle2.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(testPlanItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/list.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(webItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/earth.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(projectsItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/box.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(windowsIntegrationItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/windows8.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(commandoItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/command.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(placesPref) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/folder.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(httpInspectorItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/direction.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(prefs_formatter_treeitem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/clear-formatting.svg?preset=base&iconset=dark");
}
#prefWindow treechildren::-moz-tree-cell(notifyItem) {
  background-image: url("koicon://ko-svg/chrome/icomoon/skin/notification2.svg?preset=base&iconset=dark");
}
#prefProjectsWindow treecols {
  height: 0px;
  overflow: hidden;
}
#prefProjectsWindow treechildren::-moz-tree-row {
  height: 26px;
}
#prefProjectsWindow treechildren::-moz-tree-cell-text {
  font-weight: bold;
  padding-left: 4px;
}
#prefProjectsWindow treechildren::-moz-tree-cell-text(child-row) {
  font-weight: normal;
}
